<%- include ('partials/header')-%>
    <div>

        <div class="contents">
            <h2>About us</h2>
            <p><%= aboutContent %></p>
        </div>
    </div>
<%- include ('partials/footer') -%>