<%- include ('partials/header')-%>
    <div>

        <div class="contents">
            <h2>Contact us</h2>
            <p><%= contactContent %></p>
        </div>
    </div>
<%- include ('partials/footer') -%>