<%- include('partials/header'); -%>
    <div>
        <div class="contents">
            <h2>Posts</h2>
            <div class="post">
                <p class="title"><%= title %></p>
                <p class="postContent"><%= postContent %></p>
                  
            </div>
        </div>
    </div>

<%- include('partials/footer'); -%>